startup --output_user_root=/tmp/bazel_output
build --verbose_failures
build --repo_env=CC=clang
build --cxxopt=-std=c++20

# Warning options follow https://github.com/cpp-best-practices/cppbestpractices/blob/master/02-Use_the_Tools_Available.md#gcc%E2%80%94clang
build --cxxopt=-Weverything # incompatible with gcc
build --cxxopt=-Werror
# Disable warnings about C++98 incompatibility. We're using C++17 features...
build --cxxopt=-Wno-c++98-compat
build --cxxopt=-Wno-c++98-compat-pedantic
# Disable warnings for external libs
build --per_file_copt=third_party/.*,external/.*@-Wno-everything
build --per_file_copt=third_party/.*,external/.*@-Wno-error
