Checks: 'clang-analyzer-*,bugprone-*,modernize-*,readability-*,cppcoreguidelines-*,performance-*,concurrency-*,cert-*,google-*,misc-*'
WarningsAsErrors: 'cppcoreguidelines.*|misc.*'
HeaderFilterRegex: '^(?!.*(third_party|external|/usr/)).*'
